<div class="discoverly-container container-fluid">
    <a class="link media-button" href="#"><i class="fa fa-camera-retro fa-2x"></i></a>
    <a class="link settings-button" href="#"><i class="fa fa-bars fa-2x"></i></a>
    <div id="map" style="height: 800px; width: 1200px;"></div>
    <section class="media-bricks">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <i class="fa fa-minus"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3"><img src="/images/user-media/pic1.jpg"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic2.jpg"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic9.png"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic4.jpg"></div>
            </div>
            <div class="row">
                <div class="col-xs-3"><img src="/images/user-media/pic5.jpg"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic2.jpg"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic6.jpg"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic11.jpg"></div>
            </div>
            <div class="row">
                <div class="col-xs-3"><img src="/images/user-media/pic10.jpg"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic9.png"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic6.jpg"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic11.jpg"></div>
            </div>
            <div class="row">
                <div class="col-xs-3"><img src="/images/user-media/pic8.jpg"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic3.jpg"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic9.png"></div>
                <div class="col-xs-3"><img src="/images/user-media/pic10.jpg"></div>
            </div>
        </div>
    </section>
</div>