<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=7; IE=EmulateIE9; IE=10" />
    <meta name="keywords" content="setCenterAndZoom" />
    <title>HERE Maps API Example: Setting the Map Zoom level and Center Point </title>
    <!-- Set up constants such as APP ID and token -->
    <script type="text/javascript" src="libs/hereAppIdAndToken.js"></script>
    <!-- Bootstrap jQuery Library -->
    <script type="text/javascript" src="libs/jQl.min.js"></script>

    <!-- Asynchronously the HERE Maps API for JavaScript -->
    <script type="text/javascript" src="libs/hereAsyncLoader.js"
            id="HereMapsLoaderScript"
            data-map-container="mapContainer"
            data-params="maps"
            data-callback="setCenterAndZoom" >
    </script>
    <link rel="icon" href="http://here.com/favicon.ico"/>
    <!--<link href="http://developer.here.com/html/css/main.css" rel="stylesheet" />-->
</head>
<body>
<h1>Settings</h1>

<div class="media-bricks">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 "><h1>DISCOVERED|MADE</h1></div>
        </div>


        <div class="row">
            <div class="col-xs-12"><h1>Recent checkpoints made</h1></div>

        </div>
        <div class="row">
            <div class="col-xs-12"></div>
        </div>

    </div>
    </div>

</section>
</body>
</html>